body {
    /* background: gray; */
    font-family: 'Spartan', sans-serif;
}
/* navbar */
.uk-navbar-container {
    height: 120px;
    background-color: white !important;
}
.uk-navbar-left {
    margin-left: 15%;
}
.uk-navbar-left h3 {
    text-transform: uppercase;
    font-family: 'Secular One', sans-serif;
}
.uk-navbar-left h5 {
    font-family: 'Spartan', sans-serif;
}
.uk-navbar-right {
    margin-right: 15%;
}
#navlist {
    font-family: 'Spartan', sans-serif !important;
}
.minified-nav {
    display: none;
}
@media screen and (max-width: 812px) {
    .min-logo {
        padding-top: 10px;
    }
    .minified-nav {
        padding-top: 15px;
        display: block;
    }
    .large-nav {
        display: none;
    }
}
/* lead */
.lead, .lead2 {
    background-image: url('img/sunny.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.lead {
    height: 800px;
}
.lead2 {
    height: 400px;
}
.lead-title {
    padding-top: 100px;
}
.bold {
    font-weight: bold;
}
.lead-title h5 {
    font-family: 'Spartan', sans-serif;
    color: white;
}
.lead-title h1 {
    text-transform: uppercase;
    font-family: 'Secular One', sans-serif;
    color: white;
    font-size: 80px;
}
.start-btn {
    margin-top: 220px;
    background-color: black;
    border: none;
    color: white;
}
.start-btn:hover {
    background-color: rgba(2, 2, 2, 0.8) !important;
    color: gray;
}
/* coverage */
.coverage {
    height: 680px;
}
.coverage-right {
    height: 680px;
    background-image: url('img/river.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blurb {
    margin-top: 75px;
}
.break {
    margin-left: 200px;
    width: 50px;
    border-top: solid 3.5px black;
}
.blurb h1 {
    padding-top: 30px;
    margin-left: 200px;
    font-family: 'Secular One', sans-serif;
    text-transform: uppercase;
    font-size: 60px;
}
.coverage p {
    margin-top: 75px;
    margin-left: 200px;
    margin-right: 75px;
    text-align: left;
}
.plans-btn {
    background-color: black !important;
    border: none;
    color: white !important;
}
.plans-btn:hover {
    color: gray !important;
}
/* ride */
.ride {
    height: 1300px;
    background-image: url('img/path.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.ride-title {
    padding-top: 75px;
    margin-right: 400px;
}
.break2 {
    margin-left: 250px;
    width: 50px;
    border-top: solid 4.5px black;
}
.ride-title h1 {
    padding-top: 30px;
    font-family: 'Secular One', sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    color: white;
}
.cards {
    margin-top: 120px;
}
.card {
    height: 300px;
    border-radius: 0;
    font-family: 'Spartan', sans-serif;
    color: white;
}
.card h5 {
    padding: 30px 0 20px;
    font-family: 'Spartan', sans-serif;
    color: white;
    font-weight: bold;
}
.card p {
    margin: 0 25px 0 25px;
}
.arrow1 {
    padding-top: 35px;
    font-size: 28px;
}
.arrow {
    padding-top: 10px;
    font-size: 28px;
}
.cy {
    background: rgb(242,190,93);
}
.cr {
    background: rgb(253,96,97);
}
.cb {
    background: rgb(85,111,183)
}
.cg {
    background: rgb(118,203,170);
}
.story-btn {
    margin-top: 300px;
    height: 150px;
    width: 150px;
    background-color: black;
    border: none;
    border-radius: 50%;
    color: white;
}
.story-btn:hover {
    background-color: rgba(2, 2, 2, 0.8);
    color: gray;
}